#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Таймер системных проверок (каждые 5 минут)
# -----------------------------------------------------------------------------
#

[Unit]
Description=Таймер системных проверок (каждые 5 минут)
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=30s
AccuracySec=30s
Persistent=true
Unit=lsm-system.service

[Install]
WantedBy=timers.target
