[Unit]
Description=Lite Server Monitor - Docker Check Service
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=/opt/lsm/modules/docker/check_docker.sh
