#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Disk Monitor Service
# -----------------------------------------------------------------------------

[Unit]
Description=Lite Server Monitor (LSM) - Служба проверки дискового пространства
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/lsm/modules/disk/check_disk.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
