#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Таймер мониторинга ИБП (ежеминутно)
# -----------------------------------------------------------------------------
#

[Unit]
Description=Таймер мониторинга ИБП (ежеминутно)
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor

[Timer]
OnCalendar=*-*-* *:*:30
RandomizedDelaySec=5s
AccuracySec=10s
Persistent=true
Unit=lsm-ups.service

[Install]
WantedBy=timers.target
