#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Таймер проверки RAID-массивов (каждые 5 минут)
# -----------------------------------------------------------------------------
#

[Unit]
Description=Таймер проверки RAID-массивов (каждые 5 минут)
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=25s
AccuracySec=30s
Persistent=true
Unit=lsm-raid.service

[Install]
WantedBy=timers.target
