#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Таймер проверки входов по SSH (ежеминутно)
# -----------------------------------------------------------------------------
#

[Unit]
Description=Таймер проверки входов по SSH (ежеминутно)
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor

[Timer]
OnCalendar=*-*-* *:*:00
RandomizedDelaySec=5s
AccuracySec=10s
Persistent=true
Unit=lsm-login.service

[Install]
WantedBy=timers.target
