#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Таймер проверки SMART (ежечасно)
# -----------------------------------------------------------------------------
#

[Unit]
Description=Таймер проверки SMART (ежечасно)
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor

[Timer]
OnCalendar=hourly
RandomizedDelaySec=2min
AccuracySec=2min
Persistent=true
Unit=lsm-smart.service

[Install]
WantedBy=timers.target
