#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Таймер проверки температуры (каждые 5 минут)
# -----------------------------------------------------------------------------
#

[Unit]
Description=Таймер проверки температуры (каждые 5 минут)
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=35s
AccuracySec=30s
Persistent=true
Unit=lsm-temperature.service

[Install]
WantedBy=timers.target
